<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <style>
            code {
                font-size: 1.5em;
            }
        </style>
        <title>{% block title %}Flynnt Knapp Code Catalog - Base{% endblock %}</title>
    </head>
    <body>
        <main>
            <a
                href="https://github.com/brucestull/flynnt-knapp-code-catalog"
                target="_blank"
                >
                Flynnt Knapp Code Catalog - Git Repository
            </a>
            <br>
            <a
                href="https://flynnt-knapp-code-catalog.herokuapp.com/"
                target="_blank"
                >
                Flynnt Knapp Code Catalog - Heroku
            </a>
            <br>
            <a
                href="/"
                >
                Home - <code>"/"</code>
            </a>
            <br>
            <a
                href={% url 'home' %}
                >
                Home - <code>&#123% url 'home' %&#125</code>
            </a>
            <br>
            <br>
            <a
                href="/api/v1/"
                target="_blank"
                >
                Django Browsable API Repository - <code>"/api/v1/"</code>
            </a>
            <br>
            <a
                href={% url 'api-root' %}
                target="_blank"
                >
                Django Browsable API Repository - <code>&#123% url 'api-root' %&#125</code>
            </a>
            <br>
            {% comment %} { ==> &#123 {% endcomment %}
            {% comment %} } ==> &#125 {% endcomment %}
            <a
                href={% url 'snippettt-list' %}
                target="_blank"
                >
                Snippetts - <code>&#123% url 'snippettt-list' %&#125</code>
            </a>
            <br>
            <a
                href={% url 'taggg-list' %}
                target="_blank"
                >
                Tagggs - <code>&#123% url 'taggg-list' %&#125</code>
            </a>
            <br>
            <a
                href={% url 'userrr-list' %}
                target="_blank"
                >
                Userrrs - <code>&#123% url 'userrr-list' %&#125</code>
            </a>
            <br>
            <a
                href={% url 'userrr-detail' 1 %}
                target="_blank"
                >
                Userrr 1 - <code>&#123% url 'userrr-detail' 1' %&#125</code>
            </a>
            <br>
            <a
                href={% url 'currentuserrr-list' %}
                target="_blank"
                >
                Current Userrr - <code>&#123% url 'currentuserrr-list' %&#125</code>
            </a>
            <br>
            <br>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>